.author {
  position: relative;
  padding-top: 7px;
  padding-right: 15px;
  padding-left: 60px;
  margin-left: -60px;
  margin-right: -25px;
  border-top: 1px solid rgba(255, 255, 255, 0.05) !important; }
  .author .author-avatar {
    background-color: #3d9ee9;
    font-family: Avenir W01;
    color: white;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    background-size: cover;
    background-position: center; }
  .author .author-time,
  .author .author-name {
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    opacity: 0.5;
    font-family: Avenir W01; }
  .author .author-time {
    position: absolute;
    right: 15px;
    top: 15px; }

#chat .author-avatar {
  position: absolute;
  top: 14px;
  left: 15px; }
