.close {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 40px;
  color: #222 !important;
  opacity: 0.5;
  outline: 0 !important; }
  .close:focus {
    outline: thin dotted;
    outline: 5px auto #298041;
    outline-offset: -2px; }
  .close:hover, .close:focus {
    text-decoration: none;
    cursor: pointer; }
  .close:active {
    opacity: 1;
    filter: alpha(opacity=100); }

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none; }
