#color-toggles {
  background-size: 40px;
  border-radius: 3px;
  background-color: #222;
  background-image: url("../images/opacity-grid.png"); }

.color-picker {
  margin: 6px;
  margin-bottom: 0;
  width: 256px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden; }
  .color-picker.out .fader-selector {
    opacity: 0; }
  .color-picker .color {
    position: relative;
    width: 100%;
    background-color: #2ecc71;
    display: block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .color-picker .color:before {
      content: "";
      display: block;
      padding-top: 100%;
      /* initial ratio of 1:1*/ }
    .color-picker .color > div {
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px; }
      .color-picker .color > div.mask {
        background-image: url("../images/huevalue.png"); }
  .color-picker .color-hue {
    position: relative;
    width: 100%;
    background-size: 100% 100%;
    background-image: url("../images/hue.png"); }
    .color-picker .color-hue:before {
      content: "";
      display: block;
      padding-top: 40px;
      /* initial ratio of 1:1*/ }
  .color-picker .color-opacity {
    position: relative;
    width: 100%;
    background-size: cover;
    background-image: url("../images/opacity-strip.png"); }
    .color-picker .color-opacity:before {
      content: "";
      display: block;
      padding-top: 40px;
      /* initial ratio of 1:1*/ }

.color-indicator {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box; }

.fader-selector {
  padding: 0px;
  background-color: transparent;
  border: none;
  border: 18px solid #222;
  border: 8px solid #222;
  height: 44px;
  width: 44px;
  margin: -2px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100%;
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.2), inset 0 0 10px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: border 0.125s ease-in-out;
  transition: border 0.125s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1); }
  .fader-selector:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -1px;
    height: 2px;
    width: 2px;
    background-color: white;
    pointer-events: none !important;
    border-radius: 100%; }
  .fader-selector:hover, .fader-selector:focus, .fader-selector:active {
    outline: none;
    border: 8px solid #f5f5f5; }
  .fader-selector:active {
    background-color: white; }

.color-palette {
  width: 600px;
  text-align: center; }
  .color-palette .overflow-y-scroll {
    padding-top: 10px;
    padding-bottom: 15px;
    overflow-y: auto; }
    .color-palette .overflow-y-scroll .btn {
      display: inline-block;
      height: 40px;
      width: 40px;
      min-width: 0;
      min-height: 0;
      margin-left: 4px;
      margin-right: 4px;
      margin-top: 8px;
      padding: 0px;
      background-clip: padding-box;
      border: 2px solid rgba(0, 0, 0, 0.1);
      border-radius: 100%;
      background-color: transparent;
      background-color: rgba(255, 255, 255, 0.025);
      /* aspect ratio without spacer image */ }
      .color-palette .overflow-y-scroll .btn.active, .color-palette .overflow-y-scroll .btn:active {
        background-clip: border-box;
        border: 2px solid white; }
      .color-palette .overflow-y-scroll .btn .icon {
        position: absolute;
        left: -3.5px;
        top: -2px;
        font-size: 16px;
        height: 44px;
        width: 44px;
        line-height: 43px; }
        .color-palette .overflow-y-scroll .btn .icon:after, .color-palette .overflow-y-scroll .btn .icon:before {
          height: 44px;
          width: 44px;
          line-height: 43px; }

.color .fader-selector {
  z-index: 10;
  left: 120px;
  top: 120px;
  margin: -22px;
  cursor: move; }

.color-hue .fader-selector {
  z-index: 10;
  left: 0px;
  margin: -2px -22px;
  cursor: ew-resize; }

.color-opacity .fader-selector {
  z-index: 10;
  left: 120px;
  margin: -2px -22px;
  cursor: ew-resize; }

#colors #color-target {
  text-align: center;
  display: block; }

#colors:before, #colors:after {
  content: " ";
  display: table; }

#colors:after {
  clear: both; }

#colors #color-hex {
  position: relative; }
  #colors #color-hex:before, #colors #color-hex:after {
    content: " ";
    display: table; }
  #colors #color-hex:after {
    clear: both; }
  #colors #color-hex #color-hash {
    position: relative;
    margin-left: 40px;
    width: 196px; }
  #colors #color-hex .btn {
    position: absolute;
    z-index: 100; }
  #colors #color-hex #add-remove-color {
    left: 0px; }
  #colors #color-hex #color-options-toggle {
    right: 0px; }
  #colors #color-hex div {
    position: relative;
    width: 100%; }
    #colors #color-hex div .input {
      height: 50px;
      line-height: 70px; }
    #colors #color-hex div label {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 30px;
      line-height: 32px;
      font-size: 16px;
      opacity: 0.35;
      color: #888;
      z-index: 10;
      text-align: center; }

#colors #color-rgba {
  position: relative; }
  #colors #color-rgba:before, #colors #color-rgba:after {
    content: " ";
    display: table; }
  #colors #color-rgba:after {
    clear: both; }
  #colors #color-rgba label {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 22px;
    font-size: 16px;
    opacity: 0.35;
    color: #888;
    z-index: 10;
    text-align: center;
    margin-bottom: -14px;
    margin-top: 10px; }
  #colors #color-rgba .input {
    line-height: 48px;
    width: 38px; }

.font-size-swatches {
  line-height: 50px; }
