.number .slash {
  margin-left: -2px;
  margin-right: -2px;
  top: -2px;
  position: relative; }

.slash {
  font-size: 20px;
  opacity: 0.4;
  color: inherit;
  margin-top: -4px;
  margin-left: 5px;
  margin-right: 6px; }

.input-couple {
  position: relative;
  display: inline-block;
  vertical-align: middle; }

.input-couple {
  position: relative;
  display: table;
  border-collapse: separate;
  table-layout: fixed; }
  .input-couple.divided > div {
    padding-top: 15px;
    display: table-cell;
    border-right: 2px solid rgba(0, 0, 0, 0.025); }
    .input-couple.divided > div:last-child {
      border: none; }
  .input-couple > div {
    display: table-cell; }
    .input-couple > div:first-child .form-group {
      padding-right: 10px; }
      .input-couple > div:first-child .form-group .label, .input-couple > div:first-child .form-group .input {
        text-align: right !important; }
    .input-couple > div:last-child .form-group {
      padding-left: 10px; }
      .input-couple > div:last-child .form-group .label, .input-couple > div:last-child .form-group .input {
        text-align: left !important; }
    .input-couple > div .unit {
      display: none; }
  .input-couple .slash {
    position: absolute;
    font-size: 20px;
    opacity: 0.4;
    right: 3px;
    bottom: 0px;
    width: 0;
    height: 60px;
    line-height: 60px;
    color: inherit; }
  .input-couple .times {
    position: absolute;
    font-size: 20px;
    opacity: 0.4;
    right: 7px;
    bottom: 0px;
    width: 0;
    height: 60px;
    line-height: 60px; }

.input-group {
  position: relative;
  display: table;
  border-collapse: separate; }
  .input-group > * {
    display: table-cell;
    width: 100%; }
  .input-group .input {
    float: left;
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; }
  .input-group .form-group {
    padding: 0px; }

.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle; }
  .input-group-addon .btn,
  .input-group-btn .btn {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; }
  .input-group-addon .input,
  .input-group-btn .input {
    border-left: none; }

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap; }
  .input-group-btn > .btn {
    position: relative; }
    .input-group-btn > .btn:hover, .input-group-btn > .btn:focus, .input-group-btn > .btn:active {
      z-index: 2; }
