#margins .btn-more:active .icon,
#margins .btn-less:active .icon {
  opacity: 1; }

#margins .btn-more .icon,
#margins .btn-less .icon {
  color: white;
  opacity: 0.2; }

#margins #margin {
  height: 200px;
  position: relative; }
  #margins #margin .btn-toggle {
    margin: -22px; }
  #margins #margin label {
    pointer-events: none;
    margin-top: 62px; }
  #margins #margin .margin-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 140px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: -70px -70px; }
    #margins #margin .margin-icon > div {
      position: absolute;
      display: inline-block;
      height: 30px;
      width: 30px; }
      #margins #margin .margin-icon > div .input {
        padding: 0px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border: none;
        font-size: 22px;
        text-align: center;
        display: block;
        background-color: #f5f5f5; }
      #margins #margin .margin-icon > div.top {
        top: -15px;
        left: 50%;
        margin-left: -15px; }
        #margins #margin .margin-icon > div.top .btn-more {
          right: -30px;
          top: 15px; }
        #margins #margin .margin-icon > div.top .btn-less {
          left: -30px;
          top: 15px; }
      #margins #margin .margin-icon > div.bottom {
        bottom: -15px;
        left: 50%;
        margin-left: -15px; }
        #margins #margin .margin-icon > div.bottom .btn-more {
          right: -30px;
          bottom: 15px; }
        #margins #margin .margin-icon > div.bottom .btn-less {
          left: -30px;
          bottom: 15px; }
      #margins #margin .margin-icon > div.left {
        left: -16px;
        top: 50%;
        margin-top: -15px; }
        #margins #margin .margin-icon > div.left .btn-more {
          left: 15px;
          top: -30px; }
        #margins #margin .margin-icon > div.left .btn-less {
          left: 15px;
          bottom: -30px; }
      #margins #margin .margin-icon > div.right {
        right: -16px;
        top: 50%;
        margin-top: -15px; }
        #margins #margin .margin-icon > div.right .btn-more {
          right: 15px;
          top: -30px; }
        #margins #margin .margin-icon > div.right .btn-less {
          right: 15px;
          bottom: -30px; }
