.overflow-hidden {
  overflow: hidden; }

.overflow-scroll {
  overflow-y: scroll;
  overflow-x: scroll; }

.overflow-y-scroll {
  overflow-y: scroll;
  overflow-x: hidden; }

.overflow-x-scroll {
  overflow-y: hidden;
  overflow-x: scroll; }

.fit {
  position: absolute !important;
  width: auto;
  height: auto;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px; }

.overflow-scroll,
.overflow-hidden,
.overflow-x-scroll,
.overflow-y-scroll {
  -webkit-overflow-scrolling: touch; }
  .overflow-scroll::-webkit-scrollbar,
  .overflow-hidden::-webkit-scrollbar,
  .overflow-x-scroll::-webkit-scrollbar,
  .overflow-y-scroll::-webkit-scrollbar {
    width: 0px;
    height: 0px; }
  .overflow-scroll::-webkit-scrollbar-corner, .overflow-scroll ::-webkit-scrollbar,
  .overflow-hidden::-webkit-scrollbar-corner,
  .overflow-hidden ::-webkit-scrollbar,
  .overflow-x-scroll::-webkit-scrollbar-corner,
  .overflow-x-scroll ::-webkit-scrollbar,
  .overflow-y-scroll::-webkit-scrollbar-corner,
  .overflow-y-scroll ::-webkit-scrollbar {
    background-color: transparent; }
  .overflow-scroll::-webkit-scrollbar-thumb,
  .overflow-hidden::-webkit-scrollbar-thumb,
  .overflow-x-scroll::-webkit-scrollbar-thumb,
  .overflow-y-scroll::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-background-clip: padding-box;
    border: 0px solid transparent; }
