.section {
  min-height: 50px !important;
  position: relative;
  background-color: #fff;
  background-position: center;
  background-size: cover; }
  .section.active .section-padding-corner.in,
  .section.active .section-padding.in {
    display: block; }

.space-empty,
.section-empty {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 800;
  pointer-events: none;
  opacity: 0.25;
  display: block; }
